body{
    background-color: white;
}

.azul{
    background-color: rgb(0, 166, 255);
    padding: 100px;
    margin: 300px;
    width: 700px;
}

.amarelo{
    background-color: rgb(255, 196, 0);
    padding: 100px;
    margin: 20px;
}

.flex{
    display: flex;

}
div{
}

.extender{
    background-color: rgb(238, 255, 0) ;
    padding-right: 350px;
}
.extenderfelipe{
    padding-bottom: 350;
}